<div class="container">
    <div class="row">
        <div class="col-3">
            <app-left-sidebar></app-left-sidebar>
        </div>
        <div class="main-content col-9">
            <app-header></app-header>
            <mat-sidenav #rightSidenav mode="side" opened="true" class="centerNav" [fixedTopGap]="100"
                [fixedBottomGap]="100">
            </mat-sidenav>
            <app-tweet-post (addTweet)="addTweet($event)"></app-tweet-post>
            <app-tweets list="feed" [param]= "" [tweetText]="tweetText"></app-tweets>
        </div>
    </div>
</div>