.centerNav {
    background-color: #ffffff;
    width: 75%;
    border: 1px solid #fafafa;
    border-top: 1px solid #e8e8e8;
    box-shadow: -5px 7px 12px rgba(0, 0, 0, 0.1);
    left: 15%;
    top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  