<div class="container col-12">
    <div class="row">
        <div class="col-2">
            <app-left-sidebar></app-left-sidebar>
        </div>
        <div class="main-content col-9">
            <app-header></app-header>
            <br>

            <div class="header pb-6 d-flex align-items-center" style="min-height: 150px;">
                <span class="mask bg-gradient-default opacity-8"></span>
                <div class="container-fluid d-flex align-items-center">
                    <div class="row">
                        <div class="col-lg-7 col-md-10">
                            <h1 class="display-2 text-white"> {{this.userPage?.login}}</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid mt--6">
                <div class="row">
                    <div class="col-xl-12 order-xl-2">
                        <div class="card card-profile">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9z-72ZEley32eX2RHG0Q6i-b8nxuCi-A_iw&usqp=CAU"
                                style="max-height: 150px;" alt="Image placeholder" class="card-img-top">
                            <div class="row justify-content-center">
                                <div class="col-lg-3 order-lg-2">
                                    <div class="card-profile-image">
                                        <a href="#">
                                            <img src="../../favicon.ico" class="rounded-circle">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                                <div class="d-flex justify-content-between">
                                    <span *ngIf="isOwnProfile===false">
                                        <button *ngIf="isFollowing===false" (click)="addFollowing()"
                                            class="btn btn-sm btn-info  mr-4 ">S'abonner</button>
                                        <button *ngIf="isFollowing===true" (click)="removeFollowing()"
                                            class="btn btn-sm btn-default float-right">Se
                                            désabonner</button>
                                    </span>
                                    <a></a>
                                    <div class="row" style="right: 0;">
                                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                            <label class="btn btn-secondary active">
                                                <span (click)="getPublishedTweets">
                                                    <input type="radio" name="options" id="option1" autocomplete="off" (click)="getPublishedTweets()"
                                                        checked > <a (click)="getPublishedTweets()">Kweet(s) publié(s)</a>
                                                </span>
                                            </label>
                                            <label class="btn btn-secondary">
                                                <input type="radio" name="options" id="option2" autocomplete="off" (click)="getLikedTweets()">
                                                   <a (click)="getLikedTweets()"> Kweet(s) liké(s) </a>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body pt-0">
                                <div class="row">
                                    <div class="col">
                                        <div class="card-profile-stats d-flex justify-content-center">
                                            <div>
                                                <a routerLink="./follower"><span class="heading"
                                                        [innerHTML]="this.followers.length"></span></a>
                                                <a routerLink="./follower"><span class="description">Abonnés</span></a>
                                            </div>
                                            <div>
                                                <a routerLink="./following"><span
                                                        class="heading">{{this.userPage?.following.length}}</span></a>
                                                <a routerLink="./following"><span
                                                        class="description">Abonnements</span></a>
                                            </div>
                                            <div>
                                                <span class="heading">{{this.nbTweetsPublished}}</span>
                                                <span class="description">Kweets</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-profile">
                            <app-tweets [list]="this.listToCall" [param]="this.param"
                                (tweetsLength)="this.tweetsLength($event)"></app-tweets>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>