<mat-sidenav-container class="sidenav" autosize>
	<mat-sidenav #sidenav mode="side" opened="true">
		<mat-nav-list>

            <mat-list-item>
                <a mat-raised-button color="primary" href="/home">
                    <mat-icon mat-list-icon>
                        home
                    </mat-icon>Accueil
                </a>
            </mat-list-item>

            <mat-list-item>
                <a mat-raised-button color="primary" href="">
                    <mat-icon mat-list-icon>
                        person
                    </mat-icon>Mon profil
                </a>
            </mat-list-item>

            <mat-list-item>
                <a mat-raised-button color="primary" href="">
                    <mat-icon mat-list-icon>
                        exit_to_app
                    </mat-icon>Se déconnecter
                </a>
            </mat-list-item>
		</mat-nav-list>
	</mat-sidenav>
</mat-sidenav-container>