<mat-sidenav-container class="sidenav" mode="side">
	<mat-sidenav #sidenav mode="side" opened="true">
		<mat-nav-list>
            <mat-list-item>
                <a mat-raised-button color="primary" routerLink="/home">
                    <mat-icon mat-list-icon>
                        home
                    </mat-icon>Accueil
                </a>
            </mat-list-item>

            <mat-list-item>
                <a mat-raised-button color="primary" (click)="profile()">
                    <mat-icon mat-list-icon>
                        person
                    </mat-icon>Mon profil
                </a>
            </mat-list-item>

            <mat-list-item>
                <a mat-raised-button color="primary" routerLink="/list-user">
                    <mat-icon mat-list-icon>
                        list
                    </mat-icon>Utilisateurs
                </a>
            </mat-list-item>

            <mat-list-item>
                <a mat-raised-button color="primary" routerLink="/settings">
                    <mat-icon mat-list-icon>
                        settings
                    </mat-icon>Paramètres
                </a>
            </mat-list-item>

            <mat-list-item>
                <a mat-raised-button color="primary" routerLink="/login" (click)="logout()">
                    <mat-icon mat-list-icon>
                        exit_to_app
                    </mat-icon>Se déconnecter
                </a>
            </mat-list-item>
		</mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>