<div class="container">
    <div class="row">
        <div class="col-3">
            <app-left-sidebar></app-left-sidebar>
        </div>
        <div class="main-content col-9">
            <app-header></app-header>
            <mat-sidenav #rightSidenav mode="side" opened="true" class="centerNav" [fixedTopGap]="100"
                [fixedBottomGap]="100">
            </mat-sidenav>


            <div>
                <h1>
                    <span *ngIf="list==='user'">Liste des utilisateurs</span>
                    <span *ngIf="list==='follower'"> List des abonnés à {{this.param}}</span>
                    <span *ngIf="list==='following'"> Liste des abonnements de {{this.param}}</span>
                </h1>
            </div>
            <div>
                <input class="form-control" id="search" aria-label="Search" placeholder="Rechercher..."
                    (keyup)="keyupSearch($event.target.value)">
            </div>
            <br>
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">Nom d'utilisateur</th>
                </tr>
                </thead>
                <tbody id="tabUtilisateurs">
                    <tr class="userList" *ngFor="let user of users"><th><a routerLink="/profile/{{user.login}}">{{user.nickname }}</a></th></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>