<div class="container col-12" >
    <div class="row">
        <div class="col-2">
            <app-left-sidebar></app-left-sidebar>
        </div>
        <div class="main-content col-9">
            <app-header></app-header>
            <br>
            <span *ngIf="userPage===null">
                <h1>Cet utilisateur n'existe pas !</h1>
            </span>
            <span *ngIf="userPage!==null">
                <div>
                    <h1>
                        <span *ngIf="list==='user'">Liste des utilisateurs</span>
                        <span *ngIf="list==='follower'"> List des abonnés à {{this.param}}</span>
                        <span *ngIf="list==='following'"> Liste des abonnements de {{this.param}}</span>
                    </h1>
                </div>
                <div>
                    <input class="form-control" id="search" aria-label="Search" placeholder="Rechercher..."
                        (keyup)="keyupSearch($event.target.value)">
                </div>
                <br>
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">Nom d'utilisateur</th>
                    </tr>
                    </thead>
                    <tbody id="tabUtilisateurs">
                        <tr class="userList" *ngFor="let user of users"><th><a routerLink="/profile/{{user.login}}">{{user.nickname }}</a></th></tr>
                    </tbody>
                </table>
            </span>
        </div>
    </div>
</div>