<!-- <mat-card class="new-tweet">
    <mat-card-header>
        <mat-card-title>Exprimes toi !</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field>
            <textarea matInput [(ngModel)]="tweet" placeholder="Aujourd'hui..."></textarea>
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
        <button (click)="this.addTweet()" mat-raised-button color="accent">Poster</button>
    </mat-card-actions>
</mat-card> -->
<div class="tweets">
    <app-tweet-block *ngFor="let tweet of tweets" [tweet]="tweet" [likesLength]="tweet.likes.length" (deleteTweet)="deleteTweet($event)"></app-tweet-block>
</div>